workflow.json
 {
  "name": "Instagram Leads AI Automation (Secure Demo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ig-leads-secure",
        "options": {}
      },
      "id": "91101ba7-32de-4bca-a225-89cc5cbdb28d",
      "name": "Secure Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "651aba5d-1b46-4e00-9772-d59a7e754aed",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-webhook-secret'] }}",
              "value2": "DEMO_SECRET_123"
            }
          ],
          "boolean": [
            {}
          ]
        }
      },
      "id": "e9a4c213-f02c-4b9c-b6a7-22aa55d1d388",
      "name": "Verify Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "username",
              "value": "={{ $json.body.username }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6f5eb1ed-3398-4137-9479-622e7a383a22",
      "name": "Normalize Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        416,
        -64
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.username }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "3cadb0df-4470-467b-a5bb-846ebc1e06cd",
      "name": "Validate Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        608,
        -64
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jsonplaceholder.typicode.com/posts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "Hamza"
            },
            {
              "name": "message",
              "value": "test@example.com"
            }
          ]
        },
        "options": {}
      },
      "id": "750fe6c9-9c30-41c2-ada4-4e6f6673d890",
      "name": "Save Lead (DB API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        0
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/6b880026-c28f-4983-b465-c6a84963e1a7",
        "options": {}
      },
      "id": "a1e1f9f7-4ead-4de1-b99e-4c835e1b4fec",
      "name": "AI Lead Qualification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "DEMO_CHAT_ID",
        "text": "📥 Lead جديد\n👤 {{$json.username}}\n🧠 تم تحليله بالذكاء الاصطناعي",
        "additionalFields": {}
      },
      "id": "665d4452-83bd-4889-8f0a-6a4a1d172f89",
      "name": "Notify Sales (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "webhookId": "3920e465-a880-4c01-8099-28b7194f952b",
      "credentials": {
        "telegramApi": {
          "id": "yMZ25bptLfNYmhPQ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Secure Webhook": {
      "main": [
        [
          {
            "node": "Verify Webhook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Webhook Secret": {
      "main": [
        [
          {
            "node": "Normalize Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead Data": {
      "main": [
        [
          {
            "node": "Validate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead": {
      "main": [
        [
          {
            "node": "Save Lead (DB API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead (DB API)": {
      "main": [
        [
          {
            "node": "AI Lead Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Qualification": {
      "main": [
        [
          {
            "node": "Notify Sales (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0c5edb5a-802c-4cda-8450-69a43f294b34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8784d17933713f23e6e89969f652118adee231e88d554814bc1bd6cff4d93e2"
  },
  "id": "paDOtmjWsJe97zWw-8Dpz",
  "tags": []
}
