workflow.json
 {
  "name": "Instagram Leads AI Automation (Secure Demo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ig-leads-secure",
        "options": {}
      },
      "id": "9be9a867-b41b-47e0-9a5c-54c5fb13e00b",
      "name": "Secure Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -480,
        32
      ],
      "webhookId": "651aba5d-1b46-4e00-9772-d59a7e754aed",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-webhook-secret'] }}",
              "value2": "DEMO_SECRET_123"
            }
          ],
          "boolean": [
            {}
          ]
        }
      },
      "id": "f4f55705-eb86-4897-802a-9cfa775e8202",
      "name": "Verify Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -272,
        32
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "username",
              "value": "={{ $json.body.username }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2e84c409-afe8-4f1c-bcf8-8fb01c08489d",
      "name": "Normalize Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -64,
        -32
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.username }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "4e5a9bc4-b66b-437c-a9a4-96852dae1a45",
      "name": "Validate Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        128,
        -32
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jsonplaceholder.typicode.com/posts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "Hamza"
            },
            {
              "name": "message",
              "value": "test@example.com"
            }
          ]
        },
        "options": {}
      },
      "id": "b763bdf1-1930-4a91-93db-036b3c505c38",
      "name": "Save Lead (DB API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        320,
        32
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/6b880026-c28f-4983-b465-c6a84963e1a7",
        "options": {}
      },
      "id": "c4e95f92-c97b-4bbf-a66f-0795fd15e5e0",
      "name": "AI Lead Qualification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        528,
        32
      ]
    },
    {
      "parameters": {
        "chatId": "DEMO_CHAT_ID",
        "text": "📥 Lead جديد\n👤 {{$json.username}}\n🧠 تم تحليله بالذكاء الاصطناعي",
        "additionalFields": {}
      },
      "id": "ee382e50-d28d-4d96-83ad-414be00127c6",
      "name": "Notify Sales (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        720,
        32
      ],
      "webhookId": "3920e465-a880-4c01-8099-28b7194f952b",
      "credentials": {
        "telegramApi": {
          "id": "yMZ25bptLfNYmhPQ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Secure Webhook": {
      "main": [
        [
          {
            "node": "Verify Webhook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Webhook Secret": {
      "main": [
        [
          {
            "node": "Normalize Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead Data": {
      "main": [
        [
          {
            "node": "Validate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead": {
      "main": [
        [
          {
            "node": "Save Lead (DB API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead (DB API)": {
      "main": [
        [
          {
            "node": "AI Lead Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Qualification": {
      "main": [
        [
          {
            "node": "Notify Sales (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "22826abb-b1b8-434b-8269-8a063ad7d79f",
  "meta": {
    "instanceId": "c8784d17933713f23e6e89969f652118adee231e88d554814bc1bd6cff4d93e2"
  },
  "id": "QaBBYhFffkpREZuL63pdF",
  "tags": []
}
